{% extends "base.html" %}

{% block content %}
    <div>
        {% for task in tasks %}
        <a href="#">{{ task.title }}</a>
        <form action="{{ url_for('delete', id=task.id, title=task.title) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Delete') }}
        </form>
        {% endfor %}
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.task.label }}
            {{ form.task(size=32) }}
            {% for error in form.task.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}