{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <div class="row mt-2">
                        {{ form.title(size=32, style="font-size: 2.5rem", class="form-control col-6 border border-white") }}
                        {% for error in form.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row mt-2 ml-1">{{ form.description.label }}</div>
                    <div class="row mt-2 ml-1">
                        {{ form.description(rows=5, cols=20, style="height: 150px", class="form-control col-3 text-break", placeholder="Write a description...") }}
                        {% for error in form.description.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row mt-2 ml-1">{{ select_form.status.label }}</div>
                    <div class="row mt-1 ml-1">{{ select_form.status(size=1, class="form-control col-2") }}</div>
                    <div class="row mt-2 ml-1">{{ select_form.priority.label }}</div>
                    <div class="row mt-1 ml-1">{{ select_form.priority(size=1, class="form-control col-2") }}</div>
                    <div id="calendar" class="row mt-2"></div>
                    <div class="row mt-2 ml-1">
                        <div class="col-0">{{ form.submit(class="form-control btn btn-dark") }}</div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '{{ url_for('task', id=task.id, title=task.title) }}',
                selectable: true,
                editable: true,

                dateClick: function(info) {
                    let title = "{{ task.title }}";
                    if (title) {
                        let selectedDate = new Date(info.date);
                        let formattedDate = selectedDate.toLocaleDateString('en-US', {
                            month: '2-digit', day: '2-digit', year: 'numeric'
                        }).replace(/\//g, '-');

                        let newEvent = { due_date: formattedDate };

                        $.ajax({
                            url: '{{ url_for('task', id=task.id, title=task.title) }}',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(newEvent),
                            success: function() { calendar.refetchEvents(); }
                        });
                    }
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}
